<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacosNetplayApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A3216011F4A0699005C9F5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3216121F4A0699005C9F5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A32161D1F4A0699005C9F5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
