# Generated compiler artifacts
*.pyc
*.dSYM
*.o
*.dylib
*.a
*_test
*.so
*.jar

# vim stuff
*~
*.swp
*.swo

# CMake and related files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*CTestTestfile.cmake
Testing/
Makefile

# Misc
.ycm_extra_conf.py
*.DS_Store
usr

# ExternalProject outputs
netplay/src
netplay/tmp
